<div class="agregar">
    <h2>Agregar Mascota</h2>
    <form method="POST" action="/agregar_mascota">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea><br>

        <input type="submit" value="Agregar Mascota">
    </form>
</div>