<!DOCTYPE html>




<html>

<head>
    <title>Adopción de Mascotas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Adopción de Mascotas</h1>

    <div class="lista">
        <div class="add_pet">
            <a href="/add_pet" class="boton-agregar">Agregar Nueva Mascota</a>
        </div>
        <h2> Mascotas </h2>
        <ul>
            {% for mascota in mascotas %}
            <li>
                <h3>Nombre de la Mascota: {{ mascota.nombre }} </h3>
                <p>Tipo: {{ mascota.tipo }}</p>
                <p>Descripción: {{ mascota.descripcion }}</p>
                <button class="editar" data-id="{{ mascota._id }}">Editar</button>
                <form method="POST" action="/eliminar_mascota/{{ mascota._id }}" class="inline">
                    <button type="submit" class="eliminar">Adoptado</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Aquí está el footer -->
    <footer>
        <p>Derechos de autor MORATO© 2023 - Adoptar cambia vidas</p>
    </footer>
</body>

</html>
<script>
    document.querySelectorAll(".editar").forEach(button => {
        button.addEventListener("click", function() {
            const mascotaId = this.getAttribute("data-id");
            // Redirecciona a la página de edición con el ID de la mascota
            window.location.href = `/editar_mascota/${mascotaId}`;
        });
    });

    document.querySelectorAll(".eliminar").forEach(button => {
        button.addEventListener("click", function() {
            const mascotaId = this.getAttribute("data-id");
            window.location.href = `/eliminar_mascota/${mascotaId}`;
        });
    });
</script>